<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil</title>
</head>
<body>
    <a th:href="@{/usuario/perfil}">Volver a perfil</a>
    <h1>Editar Perfil</h1>
    <form th:action="@{/usuario/actualizar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{rol}" />

        <input type="text" th:field="*{nombre}"     placeholder="Nombre"         required />
        <input type="text" th:field="*{apellidos}"  placeholder="Apellidos"      required />
        <input type="text" th:field="*{nombreUsuario}" placeholder="Usuario"    required />

        <input type="password" th:field="*{contrasena}" placeholder="Nueva Contraseña" />

        <input type="email"  th:field="*{email}"      placeholder="Email"          required />
        <input type="text"   th:field="*{telefono}"   placeholder="Teléfono" />

        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>
