<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
    <a th:href="@{/}">Inicio</a>

    <h1>Perfil de usuario</h1>
    <div th:if="${usuario != null}">
        
        <p><strong>Nombre:</strong>
            <span th:text="${usuario.nombre}"></span>
            <span th:text="${usuario.apellidos}"></span>
        </p>

        <p><strong>Usuario:</strong>
            <span th:text="${usuario.nombreUsuario}"></span>
        </p>

        <p><strong>Email:</strong>
            <span th:text="${usuario.email}"></span>
        </p>

        <p><strong>Teléfono:</strong>
            <span th:text="${usuario.telefono}"></span>
        </p>

    </div>

    <p th:if="${usuario.rol == 'ADMIN' or usuario.rol == 'SUPERADMIN'}">
        <a th:href="@{/articulos}">Gestionar Artículos</a>
    </p>

    <p th:if="${usuario.rol == 'SUPERADMIN'}">
        <a th:href="@{/usuario/cambiorol}">Cambiar el rol</a>
    </p>

    <a th:href="@{/usuario/editar}">Editar Perfil</a> |
    <a th:href="@{/usuario/eliminar/{id}(id=${usuario.id})}"
       onclick="return confirm('¿Eliminar tu cuenta?');">Eliminar Cuenta</a>
    <hr/>
</body>
</html>
